body {
	margin: 0;
	padding: 0;
	background-color: #333333;
	color: #eee;
	font-family: sans-serif;
	font-size: 11px;
}

img {
	margin: 0;
	border: 0;
	padding: 0;
}

/* Page Header ***********************************************************************************/
#layout-head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;	
}

#layout-head img {
	float: left;
}

#head-menu {
	float: right;
}

/* Page Main Window ******************************************************************************/
#layout-cont {
	position: absolute;
	top: 100px;
	left: 0;
	bottom: 50px;
	right: 0;
}
#tvscreen {
	width: 100%; height: 100%;
	background-color: #101010;
}

#tvscreen div.popup {
	width: 80px;
	padding: 5px;
	margin: 0 0 0 15px;
	position: absolute;
	display: inline-block;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #cacaca;
	color: #000000;
	opacity: 0.6;
}
#tvscreen div.popup > ul {
	margin: 0 0 0 5px;
	padding: 0 0 0 3px;
	list-style: none;
}
#tvscreen div.popup > ul > li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


/* Page footer ***********************************************************************************/
#layout-foot {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
}

#logo-bar {
	margin: 5px;
	height: 40px;
	background-color: #ffffff;
}

#layout-foot img {
	height: 34px;
	padding: 3px 10px 0 0;
}

#console-showhide {
	height: 42px; width: 40px;
	margin: 4px;
	float: right;
	background-color: #555555;
	cursor: pointer;
}
#console-showhide.show {
	background-image: url("../img/expand_arrow_40.png");
}
#console-showhide.hide {
	background-image: url("../img/collapse_arrow_40.png");
}

/* Console ***************************************************************************************/
#console {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 1100px; height:500px;
	border-radius: 5px 5px 0 0;
	opacity: 0.85;
	background-color: #333333;
}

#console-inner {
	padding: 5px;
}

#console-sidebar {
	width: 180px;
	height: 100%;
	float: left;
}

.console-station {
	margin: 5px 0;
	border-radius: 3px;
	background-color: #202020;
	color: #eeeeee;
	cursor: pointer;
	text-align: center;
	/*
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);*/
}
.console-station:hover {
	background-color: #2f2f2f;
}
.console-station.active {
	background-color: #414141;
	color: #000000;
}

#console-reporters {
	overflow-y: auto;
	overflow-x: hidden;
}

.console-nodeselector-left {
	width: 90px; height: 25px;
	float: left;
	cursor: pointer;
	background-color: #cccccc;
}

.console-nodeselector-right {
	width: 90px; height: 25px;
	float: right;
	cursor: pointer;
	background-color: #cccccc;
}

.console-nodeselector {
	width: 185px; height: 25px;
	margin: 10px auto;
	padding-top: 5px;
	clear: both;
	border-radius: 3px;
	background-color: #666666;
	color: #000000;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat; 
}
.console-nodeselector .id {
	font-weight: normal;
}
.console-nodeselector:hover {
	background-color: #fff;
}
#console-sidebar .active {
	background-color: #cccccc;
}

#console-mainbar {
	float: right;
	width: 900px;
}

#console-output {
	border: 0;
	width: 895px;
	height: 400px;
	color: #eeeeee;
	background-color: #111111;
	font-size: 10px;
	font-family: "Lucida Console", Monaco, monospace;	
}

#console-input {
	width: 600px;
	border: 0;
	padding: 5px 10px;
	color: #eeeeee;
	background-color: #111111;
	font-size: 10px;
	font-family: "Lucida Console", Monaco, monospace;	

}

#console-shortcuts {
	clear:both;
}


